.commentContainer {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;

  > img {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
  }
}

.commentBox {
  flex: 1;

  footer {
    margin-top: 1rem;

    svg {
      margin-right: 0.5rem;
    }
  }

  button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.1s;
    border-radius: 2px;

    &:hover {
      color: var(--green-300);
    }
  }

  span::before {
    content: "\2022";
    padding: 0 0.25rem;
  }
}

.commentContent {
  background-color: var(--gray-700);
  padding: 1rem;
  border-radius: 8px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  button {
    background: transparent;
    border: 0;
    color: var(--gray-400);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    transition: all 0.1s;

    &:hover {
      color: var(--red-500);
    }
  }

  p {
    margin-top: 1rem;
    color: var(--gray-300);
  }
}

.authorAndTime {
  display: flex;
  flex-direction: column;

  strong {
    font-size: 0.875rem;
    line-height: 160%;
  }

  time {
    font-size: 0.75rem;
    line-height: 160%;
    color: var(--gray-400);
  }
}

